
	<section id="wrapper">

		<header>
			<div class="inner">
				<h2>Generic</h2>
				<p>
					A generic page, included in Flask Solid State app. Suitable for a blog post. 
				</p>
			</div>
		</header>

		<!-- Content -->
		<div class="wrapper">
			<div class="inner">

				<h3 class="major">What is Flask</h3>
				<p>
					Flask (source code) is a Python web framework built with a small core and easy-to-extend philosophy.
					Flask is considered more Pythonic than the Django web framework because in common situations the equivalent Flask web application is more explicit. 
					Flask is also easy to get started with as a beginner because there is little boilerplate code for getting a simple app up and running.
				</p>

				<section class="features">
					
					<article>
						<a href="http://flask.pocoo.org/" class="image">
							<img src="/static/images/pic04.jpg" alt="" />
						</a>
						<h3 class="major">Flask - oficial website</h3>
						<p>
						Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. It's BSD licensed!
						</p>
						<a href="http://flask.pocoo.org/" class="special">Learn more</a>
					</article>

					<article>
						<a href="https://appseed.us/apps/flask-apps" class="image">
							<img src="/static/images/pic05.jpg" alt="" />
						</a>
						<h3 class="major">Flask Apps</h3>
						<p>
							Get More Flask Apps - Index provided by AppSeed
						</p>
						<a href="https://appseed.us/apps/flask-apps" class="special">Get Flask Apps</a>
					</article>

				</section>

			</div>
		</div>

	</section>

	<!-- Footer -->
	{% include 'includes/footer.html' %}
