

	<!-- Wrapper -->
		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Register</h2>
					<p>
						Sample Registration Page built in <a href="http://flask.pocoo.org/">Flask</a> - Solid State 
						<a href="https://github.com/app-generator/flask-solid-state">open-source</a> Web Application
					</p>
				</div>
			</header>

			<!-- Content -->
				<div class="wrapper">
					<div class="inner">

						<section>
							<h3 class="major">Registration Form</h3>

                            {% if msg %}
                                <p>{{ msg | safe }}</p>
                            {% else %}
                                <p>Setup your credentials</p>
                            {% endif %}

                            <br />
                            <form role="form" method="post" action="">

                                {{ form.hidden_tag() }}
                            
								<div class="row gtr-uniform">

									<div class="col-6 col-12-xsmall">
										<label for="demo-name">Friendly Name</label>
										{{ form.name(placeholder="Friendly name ..") }}
									</div>

                                </div>
                                <br />
								<div class="row gtr-uniform">

									<div class="col-6 col-12-xsmall">
										<label for="demo-name">Name</label>
										{{ form.username(placeholder="Username") }}
									</div>

                                </div>
                                <br />
								<div class="row gtr-uniform">

									<div class="col-6 col-12-xsmall">
										<label for="demo-name">eMail</label>
										{{ form.email(placeholder="eMail") }}
									</div>

                                </div>
                                <br />
								<div class="row gtr-uniform">

									<div class="col-6 col-12-xsmall">
										<label for="demo-email">Password</label>
										{{ form.password(placeholder="Password",type="password") }}
									</div>

                                </div>
                                <br />
								<div class="row gtr-uniform">

									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Register" class="primary" /></li>
										</ul>
									</div>
									<div class="col-12">
                                        <p>
                                        Have already an account? Please <a href={{ url_for('login') }}>login</a>
                                        </p>
									</div>

								</div>

							</form>
						</section>

					</div>
				</div>

		</section>

		<!-- Footer -->
		{% include 'includes/footer.html' %}
